#contacto label 
{
	font-size:18px;
	text-align:left;
	color:white;
    font-family:"Arial";
}

#fila
{
	margin-top:10px;	
}


#contacto input[type='text']
 {
	height:25px;
    width:310px

    
 }
 #contacto input[type='email']
 {
	height:25px;
    width:310px

    
 }
 
 #contacto span.input_area
{ 
width:150px;
position:absolute;
right:190px;


}

#fila2
{
	
	margin-left:295px;
}

#boton
{
	
	height:35px;
    width:122px
	
}

