#contacto_form label 
{
	font-size:18px;
	text-align:left;
	color:white;
    font-family:"Arial";
}

#fila
{
	margin-top:10px;	
}


#contacto_form input
 {
	height:25px;
    width:150px

    
 }
#contacto_form span.input_area
{ 
width:150px;
position:absolute;
right:130px;

border-right:3px solid #0489B1;
border-bottom: 3px solid  #0489B1;


}

#contacto_form select
{
	width:150px;
	height:30px;
	

}

#fila2
{
	margin-top:12px;	
	margin-left:160px;
}

#boton
{
	background-image:url("../boton-registrar.png");
	height:30px;
    width:104px
	
}

