
html, body
{
background-image:url('../fondos_pagina/textura_fondo.jpg');
background-attachment: fixed;
margin:0;
padding:0;
}
a:link {
	color: #3366FF;
	text-decoration: none;
}
a:visited {
	color: #3366FF;
	text-decoration: none;
}
a:hover {
	color: #3366FF;
	text-decoration: underline;
}
a:active {
	color: #3366FF;
	text-decoration: none;
}

#body-wrap{
    margin:0 auto;
     
    	background-image:url('../fondos_pagina/capa_2.png');	
        background-repeat:repeat-y;
        width: 1200px;
	height:2000px;
    
}
#body  
	{  
      margin:0 auto;
      
      -moz-box-shadow: 0px 0px 30px #008B8B; 
      -webkit-box-shadow: 0px 0px 30px #008B8B; 
      box-shadow: 0px 0px 30px #008B8B;
      
     
      border: 1px solid #008B8B;
      
   
	background:#E3E0E0;	
        width: 900px;
	height:2000px;
	}

#head 
	{   
        margin-top: 20px;
	background:black;
	width:900px;
	height:150px; 
	}
			
#logo
	{
        float: left;
	background-image: url(../fondos_pagina/logo_ipasa.png);
	width:250px;
	height:150px;	
	}
			
#banner
	{  
        float: left;
	background-color:#008B8B;
	width:650px;
	height:150px; 
	}


#contenido 
	{  
        margin-top: 20px;
	background:#E3E0E0;
	width:900px;
	height:1500px;
	}
        
    #menu{
    background: url("../fondos_pagina/menu.png")repeat-x transparent;
    display: block;
    overflow: hidden;
    position:fixed;
    width: 170px;
    height: 316px;
    margin-top: 170px;
    margin-left: 1125px;
      -moz-box-shadow: 0px 0px 30px #008B8B; 
      -webkit-box-shadow: 0px 0px 30px #008B8B; 
      box-shadow: 0px 0px 30px #008B8B;
      border: 1px solid #008B8B;
    
    }

    #menu ul li{
       
        list-style: none outside none;
        text-decoration: none;
    }
    

    
    #boton_inicio{
       margin-top:30px ;
       background-image: url("../fondos_pagina/inicio.png");
       height: 25px;
       width: 100px;
       margin-right:90px;
       
        -moz-box-shadow: 0px 0px 30px #008B8B; 
      -webkit-box-shadow: 0px 0px 30px #008B8B; 
      box-shadow: 0px 0px 30px #008B8B;
       
    }
        #boton_registro{
           margin-top:12px ;
       background-image: url("../fondos_pagina/registro.png");
       height: 25px;
       width: 100px;
       margin-right:120px;
       
        -moz-box-shadow: 0px 0px 30px #008B8B; 
      -webkit-box-shadow: 0px 0px 30px #008B8B; 
      box-shadow: 0px 0px 30px #008B8B;
       
    }
        #boton_login{
           margin-top:12px ;
       background-image: url("../fondos_pagina/login.png");
       height: 25px;
       width: 100px;
      margin-right:90px;
        -moz-box-shadow: 0px 0px 30px #008B8B; 
      -webkit-box-shadow: 0px 0px 30px #008B8B; 
      box-shadow: 0px 0px 30px #008B8B;
    }
        #boton_busqueda{
          margin-top:12px ;
      background-image: url("../fondos_pagina/busqueda.png");
      height: 25px;
       width: 100px;
       margin-right:90px;
         -moz-box-shadow: 0px 0px 30px #008B8B; 
      -webkit-box-shadow: 0px 0px 30px #008B8B; 
      box-shadow: 0px 0px 30px #008B8B;
    }
     #boton_mapa{
         margin-top:12px ;
      background-image: url("../fondos_pagina/mapa.png");
      height: 25px;
       width: 100px;
      margin-right:90px;
        -moz-box-shadow: 0px 0px 30px #008B8B; 
      -webkit-box-shadow: 0px 0px 30px #008B8B; 
      box-shadow: 0px 0px 30px #008B8B;
    }
    #boton_videos{
        margin-top:12px ;
      background-image: url("../fondos_pagina/videos.png");
      height: 25px;
       width: 100px;
       margin-right:90px;
         -moz-box-shadow: 0px 0px 30px #008B8B; 
      -webkit-box-shadow: 0px 0px 30px #008B8B; 
      box-shadow: 0px 0px 30px #008B8B;
    }
    #boton_contacto{
        margin-top:12px ;
      background-image: url("../fondos_pagina/contacto.png");
      height: 25px;
       width: 100px;
      margin-right:90px;
        -moz-box-shadow: 0px 0px 30px #008B8B; 
      -webkit-box-shadow: 0px 0px 30px #008B8B; 
      box-shadow: 0px 0px 30px #008B8B;
    }
    
 
    #inicio{
         height: 1500px;
       width: 900px;
        
    }
        
#slideshow
	{  
       
        float: left;
	width:900px;
	height:450px;				
	}

#propiedad
	{    
         display:block;
	width:900px;
	height:500px;	
	}
	
#resultado_propiedades
	{   
        float:left;
	width:900px;
	height:500px;	
	}
 
        #registro{
            background:#E3E0E0;
            width: 900px;
            height: 500px;
        }

#box
	{    
        float:left;
	width:250px;
	height:250px;	
	}


	

			





