
html, body
{
background-image:url('../fondos_pagina/textura_fondo.jpg');
background-attachment: fixed;
margin:0;
padding:0;
}
a:link {
	color: #3366FF;
	text-decoration: none;
}
a:visited {
	color: #3366FF;
	text-decoration: none;
}
a:hover {
	color: #3366FF;
	text-decoration: underline;
}
a:active {
	color: #3366FF;
	text-decoration: none;
}

#body-wrap{
    	background-image:url('../fondos_pagina/capa_2.png');	
        background-repeat:repeat-y;
        width: 1200px;
	height:2000px;
    
}
#body  
	{  
            
       
      -moz-box-shadow: 0px 0px 30px #008B8B; 
      -webkit-box-shadow: 0px 0px 30px #008B8B; 
      box-shadow: 0px 0px 30px #008B8B;
      
     
      border: 1px solid #008B8B;
      
   
	background:#E3E0E0;	
        width: 900px;
	height:2000px;
	}

#head 
	{   
        margin-top: 20px;
	background:black;
	width:900px;
	height:150px; 
	}
			
#logo
	{
        float: left;
	background-image: url(../fondos_pagina/logo_ipasa.png);
	width:250px;
	height:150px;	
	}
			
#banner
	{  
        float: left;
	background-color-blue;
	width:650px;
	height:150px; 
	}


#contenido 
	{  
        margin-top: 20px;
	background:#E3E0E0;
	width:900px;
	height:1500px;
	}
        
    nav{
    background: url("../fondos_pagina/menu.png") no-repeat transparent;
    font-size: 16px;
    width: 156px;
    height: 316px; 
    position:fixed;
    float: right;
    top: 170px;
    left: 1125px;
          -moz-box-shadow: 0px 0px 30px #008B8B; 
      -webkit-box-shadow: 0px 0px 30px #008B8B; 
      box-shadow: 0px 0px 30px #008B8B;
      
     
      border: 1px solid #008B8B;
    
    }
    nav ul{
        list-style:none;
        text-align: left;
    }

        
#slideshow
	{  
       
        float: left;
	width:900px;
	height:450px;				
	}

#propiedades
	{    
         display:block;
	width:900px;
	height:500px;	
	}
	
#resultado_propiedades
	{   
        float:left;
	width:900px;
	height:500px;	
	}

#box
	{    
        float:left;
	width:250px;
	height:250px;	
	}


	

			





