
html, body
{
    background-image:url('../fondos_pagina/textura_fondo.jpg');
    background-attachment: fixed;
    margin:0;
    padding:0;
}
a:link
{
	color: #3366FF;
	text-decoration: none;
}
a:visited
{
	color: #3366FF;
	text-decoration: none;
}
a:hover
{
	color: #3366FF;
	text-decoration: underline;
}
a:active
{
	color: #3366FF;
	text-decoration: none;
}
/* ------------------------------------CONTENIDO DE TODO ----------------------------------------------*/
#body-wrap{
    margin:0 auto;  
    background-image:url('../fondos_pagina/capa_2.png');	
    background-repeat:repeat-y;
    width: 1200px;
	height:7000px;
    
}
/* -------------------------------------HEADER_INICIO------------------------------------------*/
#head 
{   
	margin-left:140px;
	width:910px;
	height:160px; 
	margin-top:20px;
}
			
#logo
{
    float: left;
	background-image: url(../fondos_pagina/header-principal-con-logo.png);
	width:910px;
	height:160px;	
}
			

/* ----------------------------MENU ESTATICO DE LA DERECHA --------------------------------------*/  
#menu
{
    background: url("../fondos_pagina/menu.png")repeat-x transparent;
    display: block;
    overflow: hidden;
    position:fixed;
    width: 170px;
    height: 316px;
    margin-top: 150px;
    margin-left: 1050px;
   	-moz-box-shadow: 0px 0px 30px #000000; 
    -webkit-box-shadow: 0px 0px 30px #000000; 
    box-shadow: 0px 0px 30px #000000;
    border: 1px solid #000000;
    
}
    
#menu ul li
{    
    list-style: none outside none;
    text-decoration: none;
}
    
#boton_inicio
{
    margin-top:5px ;
    background-image: url("../fondos_pagina/inicio.png");
    height: 25px;
    width: 100px;
    margin-right:90px;        
}

#boton_registro
{
    margin-top:5px ;
    background-image: url("../fondos_pagina/registro.png");
    height: 25px;
    width: 100px;
    margin-right:120px;   
}
#boton_quienes
{
   margin-top:5px ;
    background-image: url("../fondos_pagina/kienes-somos.png");
    height: 30px;
    width: 140px;
    margin-right:120px;   
}
#boton_disponible
{
    margin-top:5px ;
    background-image: url("../fondos_pagina/disponibles.png");
    height: 25px;
    width: 110px;
    margin-right:120px;   
}
#boton_login
{
    margin-top:5px ;
    background-image: url("../fondos_pagina/login.png");
    height: 25px;
    width: 100px;
    margin-right:90px;
}
#boton_busqueda
{
   margin-top:5px ;
    background-image: url("../fondos_pagina/busqueda.png");
    height: 25px;
    width: 100px;
    margin-right:90px;
}

#boton_videos
{
    margin-top:5px ;
    background-image: url("../fondos_pagina/videos.png");
    height: 25px;
    width: 100px;
    margin-right:90px;
   
}
#boton_contacto
{
   margin-top:5px ;
    background-image: url("../fondos_pagina/contacto.png");
    height: 25px;
    width: 100px;
    margin-right:90px;
   
}
#boton_map
{
     margin-top:5px ;
    background-image: url("../fondos_pagina/mapa.png");
    height: 25px;
    width: 100px;
    margin-right:90px;
}
   
/* ------------------------------------------SECCION INICIO ----------------------------------------*/
#body  
{  
    margin:0 auto;    
	-moz-box-shadow: 0px 0px 30px #000000; 
    -webkit-box-shadow: 0px 0px 30px #000000; 
    box-shadow: 0px 0px 30px #000000; 
	background:#E3E0E0;	
    width: 900px;
	height:700px;
}
#contenido 
{  

	background: url("../fondos_pagina/azul_ipasa.jpg");
	width:900px;
	height:700px;
}

#inicio
{
    width:900px;
	height:700px;	
}
#slideshow_top
{
   width:900px;
   height:50px;	
}     
#slideshow
{     
	margin:0 auto;    
	width:700px;
	height:450px;				
}
/* ------------------------------------------HEADER QUIENES SOMOS ----------------------------------------*/
#quienes_somos_head 
{   
	margin-left:140px;
	width:910px;
	height:160px;	 
}
			
#quienes_somos_logo
{
    float: left;
	background-image: url(../fondos_pagina/header-quienes-somos.png);
	width:910px;
	height:160px;	
}
			

/* ------------------------------------------SECCION QUIENES SOMOS ----------------------------------------*/
#body2  
{  
    margin:0 auto;    
	-moz-box-shadow: 0px 0px 30px #000000; 
    -webkit-box-shadow: 0px 0px 30px #000000; 
    box-shadow: 0px 0px 30px #000000; 
	background:#E3E0E0;	
    width: 900px;
	height:700px;
}
#contenido2 
{  

	background: url("../fondos_pagina/azul_ipasa.jpg");
	width:900px;
	height:700px;
}

#quienes_somos
{
    width:900px;
	height:700px;	
}
#quienes_somos_contenido
{
    width:900px;
	height:700px;	
}
/* ------------------------------------------HEADER DISPONIBLE ----------------------------------------*/
#disponible_head 
{   
	margin-left:140px;
	width:910px;
	height:160px;	 
}
			
#disponible_logo
{
    float: left;
	background-image: url(../fondos_pagina/header-disponibles.png);
width:910px;
	height:160px;		
}
			

/* ------------------------------------------SECCION DISPOBIBLES ----------------------------------------*/
#body3
{  
    margin:0 auto;    
	-moz-box-shadow: 0px 0px 30px #000000; 
    -webkit-box-shadow: 0px 0px 30px #000000; 
    box-shadow: 0px 0px 30px #000000; 
	background:#E3E0E0;	
    width: 900px;
	height:1200px;
}
#contenido3
{  

	background: url("../fondos_pagina/azul_ipasa.jpg");
	width:900px;
	height:1200px;
}

#disponibles
{
    width:900px;
	height:1200px;	
}
#propiedad
{    
    
	width:900px;
	height:1200px;	
}
#box
{   
	background-image: url("../fondos_pagina/fondo-disponibles.png");
	margin-top:10px;  
    margin-left:150px;  
    float:left;
	width:600px;
	height:200px;	
    -moz-box-shadow: 0px 0px 30px #000000; 
    -webkit-box-shadow: 0px 0px 30px #000000; 
    box-shadow: 0px 0px 30px #000000;
}
#nombre_propiedad
{    
	margin:0 auto;  
	width:400px;
	height:20px;
	
}
#nombre_propiedad p
{
	text-align:center;
	text-color:white;
	text-shadow: black 0.1em 0.1em 0.2em;
	text-decoration: underline;
    font-family:"Times New Roman", Times, serif;
    font-size:20px;
}
#info_prev
{	
	margin:0 auto;  
	width:400px;
	height:20px; 
	
}
#info_prev p
{
	text-align:center;
	text-color:white;
	text-shadow: black 0.1em 0.1em 0.2em;
    font-family:"Times New Roman", Times, serif;
    font-size:16px;
}
#foto
{
	margin-top:10px;
	margin-left:20px;
	margin-bottom:10px;
	float:left;
	width:75px;
	height:75px; 
	
	-moz-box-shadow: 0px 0px 30px #000000; 
    -webkit-box-shadow: 0px 0px 30px #000000; 
    box-shadow: 0px 0px 30px #000000;
		
}
#boton_detalle
{

	margin-left:20px;
	width:94px;
	height:25px; 
}
#boton_mapa
{
  
	margin-left:134px;
	width:94px;
	height:25px; 
}

#detalles_1
{

}
#detalles_2
{

}
#detalles_1 p
{
	text-color:white;
	text-shadow: black 0.1em 0.1em 0.2em;
    font-family:"Times New Roman", Times, serif;
    font-size:16px;
}
#detalles_2 p
{
	text-color:white;
	text-shadow: black 0.1em 0.1em 0.2em;
    font-family:"Times New Roman", Times, serif;
    font-size:16px;
}

/* ------------------------------------------HEADER MAPA ----------------------------------------*/
#mapa_head 
{   
	margin-left:140px;
width:910px;
	height:160px;	
}
			
#mapa_logo
{
    float: left;
	background-image: url(../fondos_pagina/header-mapa.png);
	width:910px;
	height:160px;	
}
			

/* ------------------------------------------SECCION MAPA ----------------------------------------*/
#body4{  
    margin:0 auto;    
	-moz-box-shadow: 0px 0px 30px #000000; 
    -webkit-box-shadow: 0px 0px 30px #000000; 
    box-shadow: 0px 0px 30px #000000; 
	background:#E3E0E0;	
    width: 900px;
	height:700px;
}
#contenido4
{  
	background: url("../fondos_pagina/azul_ipasa.jpg");
	width:900px;
	height:700px;
}
#mapa
{
   
    width: 900px;
    height: 700px;     
}

#mapa_contenido
{
    width: 900px;
    height: 700px;        
}
/* ------------------------------------------HEADER BUSQUEDA ----------------------------------------*/
#busqueda_head 
{   
	margin-left:140px;
	width:910px;
	height:160px;	
}
			
#busqueda_logo
{
    float: left;
	background-image: url(../fondos_pagina/header-busqueda.png);
width:910px;
	height:160px;	
}
			

/* ------------------------------------------SECCION BUSQUEDA ----------------------------------------*/
#body5{  
    margin:0 auto;    
	-moz-box-shadow: 0px 0px 30px #000000; 
    -webkit-box-shadow: 0px 0px 30px #000000; 
    box-shadow: 0px 0px 30px #000000; 
	background:#E3E0E0;	
    width: 900px;
	height:700px;
}
#contenido5
{  
	background: url("../fondos_pagina/azul_ipasa.jpg");
	width:900px;
	height:700px;
}
#busqueda
{
    background:#E3E0E0;
    width: 900px;
    height: 700px;     
}

#busqueda_contenido
{
     background: url("../fondos_pagina/azul_ipasa.jpg");
    width: 900px;
    height: 700px;        
}

/* ------------------------------------------HEADER VIDEOS ----------------------------------------*/
#videos_head 
{   
	margin-left:140px;
	width:910px;
	height:160px;	
}
			
#videos_logo
{
    float: left;
	background-image: url(../fondos_pagina/header-videos.png);
	width:910px;
	height:160px;	
}
			


/* ------------------------------------------SECCION VIDEOS ----------------------------------------*/
#body6{  
    margin:0 auto;    
	-moz-box-shadow: 0px 0px 30px #000000; 
    -webkit-box-shadow: 0px 0px 30px #000000; 
    box-shadow: 0px 0px 30px #000000; 
	background:#E3E0E0;	
    width: 900px;
	height:700px;
}
#contenido6
{  
	background: url("../fondos_pagina/azul_ipasa.jpg");
	width:900px;
	height:700px;
}
#videos
{
    background:#E3E0E0;
    width: 900px;
    height: 700px;            
}
#videos_contenido
{
     background: url("../fondos_pagina/azul_ipasa.jpg");
    width: 900px;
    height: 700px;          
}
/* ------------------------------------------HEADER REGISTRO ----------------------------------------*/
#registro_head 
{   
	margin-left:140px;
width:910px;
	height:160px;	
}
#iframe_contacto
{
	
}
#registro_logo
{
    float: left;
	background-image: url(../fondos_pagina/header-registro-login.png);
	width:910px;
	height:160px;	
}
			

/* ------------------------------------------SECCION REGISTRO Y LOGIN----------------------------------------*/
#body7{  
    margin:0 auto;    
	-moz-box-shadow: 0px 0px 30px #000000; 
    -webkit-box-shadow: 0px 0px 30px #000000; 
    box-shadow: 0px 0px 30px #000000; 
	background:#E3E0E0;	
    width: 900px;
	height:700px;
}
#contenido7
{  
	background: url("../fondos_pagina/fondo_seccion_registro.jpg");
	width:900px;
	height:700px;
}
#registro
{
    background:#E3E0E0;
    width: 900px;
    height: 700px;        
}
#registro_contenido
{
    background: url("../fondos_pagina/azul_ipasa.jpg");
    width: 900px;
    height: 700px;          
}

#iframe_registro
{
	
	background: url("../fondos_pagina/fondoregistro.png");
	background-repeat: repeat-x;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; 
    border-radius: 10px; 
    -moz-box-shadow: 4px 4px 14px #000; 
    -webkit-box-shadow: 4px 4px 14px #000; 
    box-shadow: 4px 4px 14px #000;
    border:0px;
	width: 390px;
    height: 220px;
    margin-top:30px;
    margin-left:25px;
}


/* ------------------------------------------HEADER CONTACTO ----------------------------------------*/
#contacto_head 
{   
	margin-left:140px;
	width:910px;
	height:160px;	
}
			
#contacto_logo
{
    float: left;
	background-image: url(../fondos_pagina/header-contacto.png);
	width:910px;
	height:160px;	
}
			

/* ------------------------------------------SECCION CONTACTO ----------------------------------------*/
#body8{  
    margin:0 auto;    
	-moz-box-shadow: 0px 0px 30px #000000; 
    -webkit-box-shadow: 0px 0px 30px #000000; 
    box-shadow: 0px 0px 30px #000000; 
	background:#E3E0E0;	
    width: 900px;
	height:700px;
}
#contenido8
{  
	background: url("../fondos_pagina/azul_ipasa.jpg");
	width:900px;
	height:700px;
}
#contacto
{
    background:#E3E0E0;
    width: 900px;
    height: 700px;        
}
#contacto_contenido
{
    background: url("../fondos_pagina/azul_ipasa.jpg");
    width: 900px;
     height: 700px;          
}
#iframe_contacto
{
	background: url("../fondos_pagina/fondoregistro.png");
	background-repeat: repeat-x;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; 
    border-radius: 10px; 
    -moz-box-shadow: 4px 4px 14px #000; 
    -webkit-box-shadow: 4px 4px 14px #000; 
    box-shadow: 4px 4px 14px #000;
    border:0px;
	width: 400px;
    height: 490px;
    margin-top:30px;
    margin-left:25px;
	
}





	

			





