
#registro
{
	height:400px;
    width:400px;
}
#registro label 
{
	font-size:20px;
	text-align:left;
	color:white;
    font-family:"Arial";
}

#fila
{
	margin-top:8px;	
}


#registro input[class='name']
 {
	height:25px;
    width:200px;
    margin-left:30px;
    
    
 }
 #registro input[class='lastname']
 {
	height:25px;
    width:200px;
    margin-left:20px;
    
    
 }
  #registro input[class='e-mail']
 {
	height:25px;
    width:200px;
    margin-left:50px;
    
    
 }
   #registro input[class='telefono']
 {
	height:25px;
    width:200px;
    margin-left:20px;
    
    
 }


#registro select
{
	width:200px;
	height:30px;
	

}

#fila2
{
	
	margin-top:12px;	
	margin-left:120px;
}

#regitro input[class='boton']
{
	margin-left:120px;
	height:30px;
    width:104px
	
}

.errores{
    background-color: #BC1010;
    padding: 6px 12px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 6px;
    position: absolute;
}
.errores:before{ /* Este es un truco para crear una flechita */
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #BC1010;
    border-left: 8px solid transparent;
    left: -16px;
    position: absolute;
    top: 5px;
}





