.error{
    background-color: #0080FF;
    padding: 6px 12px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 6px;
    position: absolute;
}
.error:before{ /* Este es un truco para crear una flechita */
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #0080FF;
    border-left: 8px solid transparent;
    left: -16px;
    position: absolute;
    top: 5px;
}

#registro_form label 
{
	font-size:25px;
	text-align:right;
	text-color:white;
    font-family:"Times New Roman", Times, serif;
}

#fila
{
	margin-top:10px;	
}


#registro_form input
 {
	height:25px;
    width:100px
     -moz-border-radius: 10x;
    -webkit-border-radius:10px;
    behavior:url(border-radius.htc);
 }
#registro_form span.input_area
{ 
width:175x;
position:absolute;
right:120px;
border-right:3px solid #0489B1;
border-bottom: 3px solid  #0489B1;

 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 behavior:url(border-radius.htc);
}

#registro_form select
{
	width:150px;
	height:30px;
}

#regitro_form submit
{
	height:30px;
    width:150px
	
}





