.error{
    background-color: #0080FF;
    padding: 6px 12px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
   
    position: absolute;
}
.error:before{ /* Este es un truco para crear una flechita */
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #0080FF;
    border-left: 8px solid transparent;
    left: -16px;
    position: absolute;
    top: 5px;
}

#registro_form label 
{
	font-size:18px;
	text-align:left;
	text-color:white;
    font-family:"Times New Roman", Times, serif;
}

#fila
{
	margin-top:10px;	
}


#registro_form input
 {
	height:25px;
    width:150px
    
 }
#registro_form span.input_area
{ 
width:150px;
position:absolute;
right:130px;

border-right:3px solid #0489B1;
border-bottom: 3px solid  #0489B1;


}

#registro_form select
{
	width:150px;
	height:30px;
	

}

#fila2
{
	margin-top:12px;	
	margin-left:160px;
}

#regitro_form submit
{
	background-image:url("../boton-registrar.png");
	height:30px;
    width:104px
	
}







